.u-section-1 .u-sheet-1 {
  min-height: 1110px;
}

.u-section-1 .u-group-1 {
  min-height: 155px;
  margin-top: 53px;
  margin-bottom: 0;
  box-shadow: 0px 5px 0px 0 rgba(0,0,0,0.65);
  margin-left: 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  margin: 0;
}

.u-section-1 .u-group-2 {
  width: 400px;
  min-height: 97px;
  box-shadow: 0 5px 0px 0 rgba(26,26,26,0.65);
  margin: 81px auto 0;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 14px;
  padding-right: 14px;
}

.u-section-1 .u-text-2 {
  font-size: 3.75rem;
  margin: 16px 0 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 190px;
  margin: 70px auto 0 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 250px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 170px;
  height: 170px;
  background-image: url("images/alexag.PNG");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 250px;
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  margin: 0 -1px;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  line-height: 1;
  margin: 20px -1px 0;
}

.u-section-1 .u-layout-wrap-2 {
  width: 190px;
  margin: -500px auto 0 190px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 250px;
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-image-2 {
  width: 170px;
  height: 170px;
  background-image: url("images/nanditai.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 250px;
  background-image: none;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px 0 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.25rem;
  margin: 0 -1px;
}

.u-section-1 .u-text-6 {
  font-size: 1.25rem;
  line-height: 1;
  margin: 20px -1px 0;
}

.u-section-1 .u-layout-wrap-3 {
  width: 190px;
  margin: -500px auto 0 380px;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 250px;
}

.u-section-1 .u-container-layout-7 {
  padding: 0;
}

.u-section-1 .u-image-3 {
  width: 170px;
  height: 170px;
  background-image: url("images/jakek.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 250px;
  background-image: none;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px 0 0;
}

.u-section-1 .u-text-7 {
  font-size: 1.25rem;
  margin: -1px -1px 0;
}

.u-section-1 .u-text-8 {
  font-size: 1.25rem;
  line-height: 1;
  margin: 21px -1px 0;
}

.u-section-1 .u-layout-wrap-4 {
  width: 190px;
  margin: -500px 380px 0 auto;
}

.u-section-1 .u-layout-cell-7 {
  min-height: 250px;
}

.u-section-1 .u-container-layout-9 {
  padding: 0;
}

.u-section-1 .u-image-4 {
  width: 170px;
  height: 170px;
  background-image: url("images/derek.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-8 {
  min-height: 250px;
  background-image: none;
}

.u-section-1 .u-container-layout-10 {
  padding: 30px 0 0;
}

.u-section-1 .u-text-9 {
  font-size: 1.25rem;
  margin: 0 -1px;
}

.u-section-1 .u-text-10 {
  font-size: 1.25rem;
  line-height: 1;
  margin: 20px -1px 0;
}

.u-section-1 .u-layout-wrap-5 {
  width: 190px;
  margin: -500px 190px 0 auto;
}

.u-section-1 .u-layout-cell-9 {
  min-height: 250px;
}

.u-section-1 .u-container-layout-11 {
  padding: 0;
}

.u-section-1 .u-image-5 {
  width: 170px;
  height: 170px;
  background-image: url("images/jay.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-10 {
  min-height: 250px;
  background-image: none;
}

.u-section-1 .u-container-layout-12 {
  padding: 30px 0 0;
}

.u-section-1 .u-text-11 {
  font-size: 1.25rem;
  margin: 0 -1px;
}

.u-section-1 .u-text-12 {
  font-size: 1.25rem;
  line-height: 1;
  margin: 20px -1px 0;
}

.u-section-1 .u-layout-wrap-6 {
  width: 190px;
  margin: -500px 0 60px auto;
}

.u-section-1 .u-layout-cell-11 {
  min-height: 250px;
}

.u-section-1 .u-container-layout-13 {
  padding: 0;
}

.u-section-1 .u-image-6 {
  width: 170px;
  height: 170px;
  background-image: url("images/kelvin.PNG");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-12 {
  min-height: 250px;
  background-image: none;
}

.u-section-1 .u-container-layout-14 {
  padding: 30px 0 0;
}

.u-section-1 .u-text-13 {
  font-size: 1.25rem;
  margin: 0 -1px;
}

.u-section-1 .u-text-14 {
  font-size: 1.25rem;
  line-height: 1;
  margin: 20px -1px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    margin-top: 529px;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 303px;
  }

  .u-section-1 .u-text-2 {
    width: 372px;
    margin-top: -386px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -374px;
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-top: -374px;
  }

  .u-section-1 .u-layout-wrap-3 {
    margin-top: -374px;
  }

  .u-section-1 .u-layout-wrap-4 {
    margin-top: -374px;
  }

  .u-section-1 .u-layout-wrap-5 {
    margin-top: -374px;
  }

  .u-section-1 .u-layout-wrap-6 {
    margin-top: -374px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 210px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 483px;
    margin-left: initial;
  }

  .u-section-1 .u-group-2 {
    margin-top: 171px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -254px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -242px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-top: -242px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-wrap-3 {
    margin-top: -242px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-wrap-4 {
    margin-top: -242px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-wrap-5 {
    margin-top: -242px;
  }

  .u-section-1 .u-layout-cell-10 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-wrap-6 {
    margin-top: -242px;
  }

  .u-section-1 .u-layout-cell-12 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    margin-top: 1318px;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 963px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -1046px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -1034px;
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-top: -1034px;
  }

  .u-section-1 .u-layout-wrap-3 {
    margin-top: -1034px;
    margin-left: 350px;
  }

  .u-section-1 .u-layout-wrap-4 {
    margin-top: -1034px;
    margin-right: 350px;
  }

  .u-section-1 .u-layout-wrap-5 {
    margin-top: -1034px;
  }

  .u-section-1 .u-layout-wrap-6 {
    margin-top: -1034px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    margin-top: 1947px;
    margin-left: initial;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
    margin-top: 1383px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
    width: 340px;
    margin-top: -1417px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -1454px;
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-top: -1454px;
    margin-left: 150px;
  }

  .u-section-1 .u-layout-wrap-3 {
    margin-top: -1454px;
    margin-left: 150px;
  }

  .u-section-1 .u-layout-wrap-4 {
    margin-top: -1454px;
    margin-right: 150px;
  }

  .u-section-1 .u-layout-wrap-5 {
    margin-top: -1454px;
    margin-right: 150px;
  }

  .u-section-1 .u-layout-wrap-6 {
    margin-top: -1454px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 427px;
}

.u-section-2 .u-group-1 {
  width: 679px;
  min-height: 256px;
  box-shadow: 5px 5px 0px 0 rgba(0,0,0,0.4);
  margin: 78px 34px 0 auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  font-size: 0.9375rem;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  background-image: none;
  font-size: 1.25rem;
  margin: 16px 0 0;
}

.u-section-2 .u-image-1 {
  width: 256px;
  min-height: 256px;
  box-shadow: -5px 5px 0px 0 rgba(0,0,0,0.4);
  background-image: url("images/wenqi.png");
  background-position: 0% 0%;
  margin: -256px auto 60px 34px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: 340px;
  }
}