.u-section-1-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/Flat-international-jazz-day-background-Graphics-3152420-1-1-580x348.jpg");
  background-position: 50% 50%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1-1 .u-text-1 {
  font-size: 4.5rem;
  width: 745px;
  margin: 262px auto 0;
}

.u-section-1-1 .u-text-2 {
  width: 837px;
  margin: 30px auto 0;
}

.u-section-1-1 .u-form-1 {
  width: 570px;
  height: 78px;
  margin: 40px auto 60px;
}

.u-section-1-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1-1 .u-form-group-2 {
  margin-left: 0;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1-1 .u-text-1 {
    width: auto;
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-1-1 .u-text-2 {
    width: auto;
    margin-left: 29px;
    margin-right: 29px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 3rem;
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-1-1 .u-text-2 {
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-1-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 2.75rem;
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-1-1 .u-text-2 {
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-1-1 .u-form-1 {
    width: 340px;
  }
}.u-section-1-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/ia_0559_an-illustrated-timeline-of-hip-hop-in-chicago-reduced.jpg");
  background-position: 50% 50%;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1-2 .u-text-1 {
  width: 745px;
  font-size: 4.5rem;
  margin: 262px auto 0;
}

.u-section-1-2 .u-text-2 {
  width: 837px;
  margin: 30px auto 0;
}

.u-section-1-2 .u-form-1 {
  width: 570px;
  height: 78px;
  margin: 40px auto 60px;
}

.u-section-1-2 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1-2 .u-form-group-2 {
  margin-left: 0;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1-2 .u-text-1 {
    width: auto;
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-1-2 .u-text-2 {
    width: auto;
    margin-left: 29px;
    margin-right: 29px;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 3rem;
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-1-2 .u-text-2 {
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-1-2 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 2.75rem;
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-1-2 .u-text-2 {
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-1-2 .u-form-1 {
    width: 340px;
  }
}.u-section-1-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/Xmas2020_rock_1000x600.jpg");
  background-position: 50% 50%;
}

.u-section-1-3 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1-3 .u-text-1 {
  width: 745px;
  font-size: 4.5rem;
  margin: 262px auto 0;
}

.u-section-1-3 .u-text-2 {
  width: 837px;
  margin: 30px auto 0;
}

.u-section-1-3 .u-form-1 {
  height: 78px;
  width: 570px;
  margin: 40px auto 60px;
}

.u-section-1-3 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1-3 .u-form-group-2 {
  margin-left: 0;
}

@media (max-width: 1199px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1-3 .u-text-1 {
    width: auto;
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-1-3 .u-text-2 {
    width: auto;
    margin-left: 29px;
    margin-right: 29px;
  }
}

@media (max-width: 767px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1-3 .u-text-1 {
    font-size: 3rem;
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-1-3 .u-text-2 {
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-1-3 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-1-3 .u-text-1 {
    font-size: 2.75rem;
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-1-3 .u-text-2 {
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-1-3 .u-form-1 {
    width: 340px;
  }
}.u-block-2137-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-2137-5 {
  position: absolute;
  left: calc(((100% - 1140px) / 2)  + -84px);
  width: 65px;
  height: 65px;
  right: auto;
}

.u-block-2137-6 {
  position: absolute;
  width: 65px;
  height: 65px;
  left: auto;
  top: 364px;
  right: calc(((100% - 1140px) / 2)  + -77px);
}

@media (max-width: 1199px) {
  .u-block-2137-5 {
    left: calc(((100% - 940px) / 2)  + -69px);
  }

  .u-block-2137-6 {
    right: calc(((100% - 940px) / 2)  + -64px);
  }
}

@media (max-width: 991px) {
  .u-block-2137-5 {
    left: calc(((100% - 720px) / 2)  + -53px);
  }

  .u-block-2137-6 {
    right: calc(((100% - 720px) / 2)  + -49px);
  }
}

@media (max-width: 767px) {
  .u-block-2137-5 {
    left: calc(((100% - 540px) / 2)  + -40px);
  }

  .u-block-2137-6 {
    right: calc(((100% - 540px) / 2)  + -37px);
  }
}

@media (max-width: 575px) {
  .u-block-2137-5 {
    left: calc(((100% - 340px) / 2)  + -25px);
  }

  .u-block-2137-6 {
    right: calc(((100% - 340px) / 2)  + -23px);
  }
}