.u-section-1 {
  background-image: url("images/cf53118a-260c-4c88-1a3e-07bdd3ca1ac8.jpg");
  background-position: 50% 50%;
  min-height: 248px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 248px;
  margin-top: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 11px 0 36px;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  line-height: 1.2;
  background-image: none;
  letter-spacing: 6px;
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  margin: 69px 0 0 60px;
}

.u-section-1 .u-text-2 {
  font-size: 3.75rem;
  letter-spacing: normal;
  font-family: Lato, sans-serif;
  font-weight: 700;
  text-transform: none;
  margin: 17px 0 0 60px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 290px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 290px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 120px;
    margin-right: -42px;
    margin-left: 42px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.125rem;
    width: auto;
    margin-top: 18px;
    margin-right: -42px;
    margin-left: 42px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 143px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 1px;
    margin-bottom: 1px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 142px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
    margin-right: -31px;
    margin-left: 31px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.5rem;
    margin-top: 10px;
    margin-right: -31px;
    margin-left: 31px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 247px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 246px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 50px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 31px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.75rem;
    margin-right: 14px;
    margin-left: 48px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 211px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 211px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 11px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 27px;
    margin-right: 44px;
    margin-left: 28px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
    margin-top: 28px;
    margin-right: 8px;
    margin-left: 28px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 575px;
}

.u-section-2 .u-list-1 {
  width: 1140px;
  margin-top: 50px;
  margin-bottom: 0;
  grid-template-rows: auto;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 16.6667px) calc(33.3333% - 16.6667px) calc(33.3333% - 16.6667px);
  grid-gap: 25px 25px;
  min-height: 375px;
}

.u-section-2 .u-list-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  height: 333px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 30px 0 0;
}

.u-section-2 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px auto 0;
  padding: 5px 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  height: 333px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px 0 0;
}

.u-section-2 .u-text-4 {
  margin: 30px 0 0;
}

.u-section-2 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px auto 0;
  padding: 5px 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  height: 333px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px 0 0;
}

.u-section-2 .u-text-6 {
  margin: 30px 0 0;
}

.u-section-2 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px auto 0;
  padding: 5px 0;
}

.u-section-2 .u-text-7 {
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.8;
  width: 556px;
  margin: 30px 292px 60px;
}

.u-section-2 .u-btn-4 {
  border-style: none none solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 509px;
  }

  .u-section-2 .u-list-1 {
    width: 940px;
  }

  .u-section-2 .u-image-1 {
    height: 213px;
    margin-left: initial;
  }

  .u-section-2 .u-btn-1 {
    width: 99px;
    height: 38px;
  }

  .u-section-2 .u-image-2 {
    height: 213px;
    margin-left: initial;
  }

  .u-section-2 .u-btn-2 {
    width: 99px;
    height: 38px;
  }

  .u-section-2 .u-image-3 {
    height: 213px;
    margin-left: initial;
  }

  .u-section-2 .u-btn-3 {
    width: 99px;
    height: 38px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 192px;
    margin-right: 192px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 12.5px) calc(50% - 12.5px);
  }

  .u-section-2 .u-text-7 {
    margin-left: 82px;
    margin-right: 82px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1798px;
  }

  .u-section-2 .u-list-1 {
    height: auto;
    width: auto;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-image-1 {
    height: 441px;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    width: 306px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    width: auto;
  }

  .u-section-2 .u-image-2 {
    height: 441px;
    margin-left: initial;
  }

  .u-section-2 .u-text-3 {
    width: 306px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-4 {
    width: auto;
  }

  .u-section-2 .u-image-3 {
    height: 441px;
    margin-left: initial;
  }

  .u-section-2 .u-text-5 {
    width: 306px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-6 {
    width: auto;
  }

  .u-section-2 .u-text-7 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1206px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-1 {
    height: 292px;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-2 {
    height: 292px;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-3 {
    height: 292px;
    margin-left: initial;
  }

  .u-section-2 .u-text-7 {
    width: 340px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 869px;
}

.u-section-3 .u-text-1 {
  width: 867px;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-3 .u-layout-wrap-1 {
  width: 768px;
  margin: 70px auto 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 570px;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  box-shadow: 5px 5px 31px 0 rgba(63,73,95,0.2);
  padding: 30px;
}

.u-section-3 .u-accordion-1 {
  width: 648px;
  margin: 0 auto;
}

.u-section-3 .u-accordion-link-1 {
  background-image: none;
  font-weight: 700;
  padding: 30px;
}

.u-section-3 .u-icon-1 {
  height: 20px;
  width: 20px;
  background-image: none;
}

.u-section-3 .u-accordion-pane-1 {
  min-height: 150px;
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-2 {
  margin-left: 0;
  margin-right: 0;
  line-height: 1.6;
  margin-top: 0;
}

.u-section-3 .u-accordion-link-2 {
  background-image: none;
  font-weight: 700;
  padding: 30px;
}

.u-section-3 .u-icon-2 {
  height: 20px;
  width: 20px;
  background-image: none;
}

.u-section-3 .u-accordion-pane-2 {
  min-height: 160px;
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-3 {
  line-height: 1.6;
  margin: 0;
}

.u-section-3 .u-accordion-link-3 {
  background-image: none;
  font-weight: 700;
  padding: 30px;
}

.u-section-3 .u-icon-3 {
  height: 20px;
  width: 20px;
  background-image: none;
}

.u-section-3 .u-accordion-pane-3 {
  min-height: 150px;
  background-image: none;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-text-4 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 921px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 664px;
  }

  .u-section-3 .u-accordion-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 587px;
  }

  .u-section-3 .u-text-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: 340px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 555px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 555px;
}

.u-section-4 .u-container-layout-1 {
  padding: 63px 0 0;
}

.u-section-4 .u-image-1 {
  width: 539px;
  height: 456px;
  margin: 0 39px 0 auto;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: -274px 674px 0 64px;
}

.u-section-4 .u-text-2 {
  margin: -236px auto 0 166px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 454px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 458px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 50px;
  }

  .u-section-4 .u-image-1 {
    width: 455px;
    height: 417px;
    margin-right: 0;
  }

  .u-section-4 .u-text-1 {
    margin-top: -223px;
    margin-right: 624px;
    margin-left: 14px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 136px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1708px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1347px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 50px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 458px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 946px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 312px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -118px;
    margin-right: 258px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 86px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 530px;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1140px;
  margin: 25px auto 25px -20px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 490px;
  background-image: none;
  margin-top: 0;
}

.u-section-5 .u-container-layout-1 {
  padding: 27px 30px 5px;
}

.u-section-5 .u-text-1 {
  margin: 0;
}

.u-section-5 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-5 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-weight: 600;
  height: 33px;
  margin: 20px auto 0;
  padding: 5px 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 30px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 404px;
  }

  .u-section-5 .u-btn-1 {
    width: 99px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 162px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 56px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
  }
}